.infobox {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  max-height: 100px;
  color: black;
  overflow-y: hidden;
  gap: 0;

  
}

.infobox img {
  display: flex;
  justify-self: first baseline;
}

.infobox img {
  width: 10px;
  height: 10px;
}

.infobox-title {
  font-size: 14px;
  font-weight: semi-bold;
  margin: 0;
}

.infobox-address {
  font-size: 14px;
}
