.infobox {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  max-height: 100px;
  height: auto;
  color: black;
  overflow-y: hidden;

  padding: 0 7px;
  gap: 0;
}

.infobox img {
  display: flex;
  align-self: flex-end;
}

.infobox img {
  width: 10px;
  height: 10px;
}

.infobox-title {
  font-size: 14px;
  font-weight: semi-bold;
  margin: 0;
}

.infobox-address {
  font-size: 14px;
  line-height: 22px;
}
