@import url("https://fonts.googleapis.com/css2?family=Modak&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&family=Modak&display=swap");

:root {
  font-family: "Fredoka", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #d4bd91;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.quiz-module {
  width: 500px;
  border: 5px solid #5c3e2a;
  border-radius: 10px;
  border-color: #5c3e2a;
  box-shadow: 5px 5px 6px 5px #5c3e2a;
}

.quiz-container {
  width: 500px;
  border-radius: 4px;
  margin-top: 40px;
  padding: 30px 60px;
  box-sizing: border-box;
}

.active-question-num {
  font-size: 32px;
  font-weight: 500;
}

.total-questions {
  font-size: 16px;
  font-weight: 500;
}

ul {
  margin-top: 40px;
  margin-left: -40px;
}

li {
  text-decoration: none;
  list-style: none;
  font-size: 16px;
  color: #5c3e2a;
  border: 1px solid rgba(255, 255, 255, 0.87);
  border-radius: 16px;
  margin-top: 20px;
  padding: 5px;
  cursor: pointer;
}

.selected-answer {
  background: #42280e;
  border: 1px solid #5c3e2a;
  color: rgba(255, 255, 255, 0.87);
}

.footer {
  display: flex;
  justify-content: flex-end;
  gap: 230px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
